@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import "./mixins";
@import "./variables";
@import "./left";
@import "./right";


*{
    font-family: 'DM Sans', sans-serif;
}

html, body{
    height: 100%;
    margin:0;
    padding:0;
    position: relative;
    
}

// Styles for index page
.main{
    padding-left: 24rem;
    font-size: $basefont;
    .left-side{
        position: fixed;
        top: 0; 
        left:0;
        width: 24rem;
        height: 100vh;
    }

    .right-side{
    }
}


// Media queries
// MQ for extra large screens responsive display
@media only screen and (min-width: 1536px) {
    .container{
        width: 1536px;
        margin: 0 auto;
        position: relative;
    }

    .main{
        padding-left: 30rem;
        .left-side{
            position: absolute;
            top: 0; 
            left:0;
            width: 30rem;
            height: 100vh;
        }
    }
}

// MQ for large screens responsive display
@media only screen and (min-width: 1024px) {
    
}

// MQ for medium screens responsive display
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    
}

// MQ for small screens responsive display
@media only screen and (max-width: 768px) {
    .main{   
        padding-left: 0; 
        .left-side{
            display: none;
        }
    
    }
}

